body {
  background-color: aqua;
}
.question {
  text-align: center;
}

#input {
  margin-right: 100%;
}

.button {
  background-color: white;
  border-radius: 40%;
  color: black;
  margin: 10px;
}
form{
  background-color: rgba(128, 128, 128, 0.548);
}
h1 {
  text-align: center;
  font-family: monospace;
}
#input {
  margin-left: 43%;
  position: center;
}
.center {
  display: flex;
  justify-content: center;
}
#responses {
  text-align:center;
}
#mars {
  display: none;
}
#jupiter {
  display: none;
}
#mercury {
  display: none;
}
#venus {
  display: none;
}